$colors: (
  neutral: (
    900: #9699ab,
    700: #d6d9e6,
    500: #f0f6ff,
    400: #fafbff,
    100: #ffffff,
  ),
  primary: (
    900: #02295a,
    800: #473dff,
    700: #adbeff,
    600: #164a8a,
    500: #bee2fd,
    400: #ed3548,
    300: #483eff,
  ),
);
